@model ResumehMaker.Models.Objetivo

@{
    ViewData["Title"] = "Atualizar Objetivo";
}

    <div class="formulario">


        <h5>Atualizar Objetivo</h5>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ObjetivoId" />
                    <div class="row">
                        <div class="input-field col s6">
                            <input asp-for="Descricao" id="Descricao" class="validate" />
                            <label for="Descricao">Descrição</label>
                            <span asp-validation-for="Descricao" class="red-text darken-3"></span>
                        </div>
                    </div>

                    <input asp-for="CurriculoId" type="hidden" />
                    <div class="row">
                        <input type="submit" value="Atualizar" class="btn btn-small green darken-1" /> &nbsp;
                        <a asp-action="Details" asp-controller="Curriculos" asp-route-id="@Model.CurriculoId">Voltar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>